html {
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0;
  scroll-behavior: smooth; }

body {
  max-width: 1440px; }

.body-container {
  max-width: 320px; }

/* NAVIGATION SECTION  */
.nav-container {
  padding-top: 15px;
  /* NAVIGATION ANIMATIONS AND MENU */ }
  .nav-container .logo {
    padding-left: 1rem;
    width: 1.5rem;
    height: 1.5rem; }
  .nav-container .hmb-menu {
    display: none; }
  .nav-container .hmb-label {
    padding-right: 1rem;
    float: right;
    margin: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column; }
    .nav-container .hmb-label .bar {
      margin: 1px;
      width: 19px;
      height: 2px;
      background-color: #000000;
      border-radius: 5px; }
  .nav-container .nav-names {
    max-height: 0;
    transition: max-height 0.2s ease;
    overflow: hidden; }
  .nav-container ul {
    background: #0000FE;
    display: flex;
    flex-direction: column; }
    .nav-container ul li {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      list-style: none;
      overflow: hidden; }
      .nav-container ul li a {
        color: #ffffff;
        text-decoration: none; }
  .nav-container #hmb-menu:checked ~ .nav-names {
    max-height: 224px; }
  .nav-container #hmb-menu:checked ~ .hmb-label #bar1 {
    transform: translate(0, 4px) rotate(45deg);
    transition: 0.2s ease-out; }
  .nav-container #hmb-menu:checked ~ .hmb-label #bar2 {
    opacity: 0;
    transform: translate(-4px);
    transition: 0.2s; }
  .nav-container #hmb-menu:checked ~ .hmb-label #bar3 {
    transform: translate(0, -4px) rotate(-45deg);
    transition: 0.2s ease-out; }

/* TOP SECTION */
.main .intro-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main .intro-container h1 {
    width: 80%;
    font-size: 2.25rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 42px;
    align-self: start; }
    .main .intro-container h1 .world {
      text-decoration: line-through 2px; }
    .main .intro-container h1 .dot {
      color: black; }
  .main .intro-container .first-p {
    width: 97%;
    font-size: 0.875rem;
    padding-top: 0;
    padding-bottom: 10px;
    line-height: 1.375rem;
    letter-spacing: 0; }
  .main .intro-container .about-btn {
    border: none;
    background-color: #00F3BB;
    text-align: center;
    width: 288px;
    height: 48px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 24px;
    cursor: pointer; }

/* EPISODES SECTION */
.episodes-section {
  padding: 6px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
  height: 1200px; }
  .episodes-section .episodes-container {
    max-width: 320px;
    display: flex;
    flex-direction: column; }
    .episodes-section .episodes-container h2 {
      margin-left: 10px;
      padding-top: 30px;
      font-size: 2.25rem;
      font-family: 'IBM Plex Sans', sans-serif;
      color: #ffffff;
      line-height: 42px;
      font-weight: 400; }
    .episodes-section .episodes-container iframe {
      border: none;
      margin: 5px;
      padding: 0; }

/* ABOUT SECTION */
.about-section .about-container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px; }
  .about-section .about-container .phone-pic {
    position: relative;
    width: 320px;
    height: 559px;
    top: -60px;
    transform: translateX(-10px); }
  .about-section .about-container .title {
    padding-right: 10px;
    font-size: 2.25rem;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 42px;
    font-weight: 400; }
  .about-section .about-container .second-p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0; }

/* GUESTS SECTION */
.guests-section .guests-container {
  max-width: 320px; }
  .guests-section .guests-container .second-title {
    padding-left: 10px;
    font-size: 2.25rem;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 42px;
    font-weight: 400; }
  .guests-section .guests-container .people-images {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 243px; }

/* TOPICS SECTION */
.topics-section .topics-container {
  max-width: 320px;
  display: flex;
  flex-direction: column; }
  .topics-section .topics-container .third-title {
    font-size: 2.25rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 42px;
    padding-left: 10px; }
  .topics-section .topics-container .topics {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: bolder;
    padding-bottom: 30px; }
  .topics-section .topics-container .icons {
    align-self: center;
    width: 104px;
    height: 104px; }

/* NEWS SECTION */
.news-section {
  padding: 15px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  height: 290px; }
  .news-section .news-container {
    max-width: 320px; }
    .news-section .news-container .fourth-title {
      text-align: center;
      font-size: 2.25rem;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      line-height: 42px;
      padding-left: 10px;
      color: #ffffff; }
    .news-section .news-container .news-btn {
      border: none;
      background-color: #00F3BB;
      text-align: center;
      width: 288px;
      height: 48px;
      font-weight: 500;
      letter-spacing: 0;
      cursor: pointer; }

.footer-section .footer-container {
  padding: 10px 10px 20px; }
  .footer-section .footer-container p {
    font-size: 0.875rem;
    text-align: center; }
  .footer-section .footer-container .social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .footer-section .footer-container .social-container a {
      color: black;
      line-height: 1.75rem; }

/* RESPONSIVE SECTION */
@media all and (min-width: 768px) {
  .body-container {
    max-width: 1440px; }
    .body-container .main {
      display: flex;
      justify-content: center;
      max-width: 1440px; }
      .body-container .main .intro-container {
        max-width: 1440px;
        margin: 70px 70px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .body-container .main .intro-container h1 {
          font-size: 4rem;
          font-family: 'IBM Plex Sans', sans-serif;
          margin-bottom: 0; }
          .body-container .main .intro-container h1 .world {
            text-decoration: line-through 4px; }
          .body-container .main .intro-container h1 .dot {
            color: blue; }
        .body-container .main .intro-container p {
          width: 50%;
          padding-top: 0;
          padding-right: 10px;
          margin-bottom: 56px;
          padding-left: 10px;
          line-height: 1.5rem;
          letter-spacing: 0; }
        .body-container .main .intro-container button {
          font-size: 1.125rem;
          border: none;
          background-color: #00F3BB;
          text-align: center;
          width: 226px;
          height: 56px;
          font-weight: 500;
          letter-spacing: 0; }
    .body-container .nav-container {
      max-width: 1440px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .body-container .nav-container .logo {
        margin-left: 100px;
        padding-top: 20px;
        width: 36px;
        height: 36px; }
      .body-container .nav-container .hmb-label {
        display: none; }
      .body-container .nav-container .nav-names {
        display: flex;
        flex-direction: row;
        max-height: 300px;
        background: #ffffff; }
        .body-container .nav-container .nav-names li {
          padding: 15px 28px 28px; }
        .body-container .nav-container .nav-names a {
          color: #060A24; }
        .body-container .nav-container .nav-names a:hover {
          color: #00F3BB;
          text-decoration: line-through 1px;
          font-weight: 500;
          transition: 0.25s; }

  .about-btn:hover {
    color: white;
    background-image: linear-gradient(250deg, #0000FE 0%, #00F0B8 100%);
    transition: 0.5s; }

  .news-btn:hover {
    color: white;
    background-image: linear-gradient(250deg, #0000FE 0%, #00F0B8 100%);
    transition: 0.5s; }

  .social-icons:hover {
    font-size: 1.5rem;
    transition: 0.25s; }

  .episodes-section {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    padding: 150px; } }

/*# sourceMappingURL=main.css.map */
