html {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.1rem;
}
.header-container {
    background: #ffffff;
    height: 80px;
    .nav-container {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        .logo {
            width: 2.1%;
        }
        .nav-names {
            display: flex;
            flex-direction: row;
            list-style: none;
            li {
                line-height: 28px;
                padding: 10px;
            }
        }
    }
}
main {
    .intro {
        width: 710px;
        max-height: 380px;
        margin-top: 200px;
        margin-left: 500px;
        h1 {
            font-size: 3.5rem;
            font-family: 'IBM Plex Sans', sans-serif;
            .world {
                text-decoration: line-through 4px;
            }
            .dot {
                color: blue;
            }
        }
        button {
            border: none;
            background-color: #00F3BB;
            text-align: center;
            width: 226px;
            height: 56px;
        }
    }
}