html {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0;
}
.body-container {
    max-width: 1440px;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    .logo {
        width: 24px;
        height: 24px;
    }
    .logo:hover {
        transform: rotate(360deg);
        transition: 0.2s;
    }
    .nav-names {
        display: none;
    }
    #hmb-menu {
        display: none;
    }
    .hmb-label {
        margin: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        .bar {
            margin: 1px;
            width: 18px;
            height: 2px;
            background-color: #000000;
            border-radius: 5px;
        }
    }
    #hmb-menu:checked ~ .hmb-label #bar1 {
        transform: translate(0, 4px) rotate(40deg);
        transition: 0.2s;
    }
    #hmb-menu:checked ~ .hmb-label #bar2 {
        opacity: 0;
        transform: translate(-4px);
        transition: 0.2s;
    }
    #hmb-menu:checked ~ .hmb-label #bar3 {
        transform: translate(0, -4px) rotate(-40deg);
        transition: 0.2s;
    }
}
.main {
    .intro {
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1 {
            width: 80%;
            font-size: 2.25rem;
            font-family: 'IBM Plex Sans', sans-serif;
            margin-bottom: 0px;
            line-height: 42px;
            align-self: start;
            .world {
                text-decoration: line-through 2px;
            }
            .dot {
                color: blue;
            }
        }
        .first-p {
            width: 97%;
            font-size: 0.875rem;
            padding-top: 0px;
            padding-bottom: 10px;
            line-height: 1.375rem;
            letter-spacing: 0rem;
            align-self: center;
        }
        .about-btn {
            border: none;
            background-color: #00F3BB;
            text-align: center;
            width: 288px;
            height: 48px;
            font-weight: 500;
            letter-spacing: 0rem;
            align-self: center;
        }
        .about-btn:hover {
            color: white;
            background-image: linear-gradient(250deg, #0000FE 0%, #00F0B8 100%);
            transition: 0.5s;
        }
    }
}
