html {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0rem;
}
.header-container {
    background: #ffffff;
    height: 80px;
    .nav-container {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        .logo {
            width: 2.1%;
        }
        .logo:hover {
            transform: rotate(360deg);
            transition: 0.5s;
        }
        .nav-names {
            display: flex;
            flex-direction: row;
            list-style: none;
            li {
                line-height: 1.75rem;
                padding: 10px;
                margin: 10px;
            }
            li:hover {
                color: #00F3BB;
                text-decoration: line-through 1px;
                font-weight: 500;
                transition: 0.25s;
            }
        }
    }
}
main {
    .intro {
        width: 50%;
        margin: 0 auto;
        padding: 110px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1 {
            font-size: 4rem;
            font-family: 'IBM Plex Sans', sans-serif;
            margin-bottom: 0px;
            .world {
                text-decoration: line-through 4px;
            }
            .dot {
                color: blue;
            }
        }
        p {
            width: 63%;
            padding-top: 0px;
            padding-right: 10px;
            padding-bottom: 40px;
            padding-left: 10px;
            line-height: 1.5rem;
            letter-spacing: 0rem;
        }
        button {
            border: none;
            background-color: #00F3BB;
            text-align: center;
            width: 226px;
            height: 56px;
            font-weight: 500;
            letter-spacing: 0rem;
        }
        button:hover {
            color: white;
            background-image: linear-gradient(250deg, #0000FE 0%, #00F0B8 100%);
            transition: 0.5s;
        }
    }
}
@media (min-width: 700px) {
    ul {
        display: inline;
    }
}